@jhwgh1968 what is left to implement?

I'm glad you asked, @jabedude! I tried to finish this at one point during the year, and didn't get very far.

The way I planned it in my mind, there will be several phases. As you will see, the further into the future the plan is, the more vague it is.

### Sender Side Phase 1

This is what I have done already. To quote myself:

> This PR correctly handles all "must" requirements of RFC 2018:
> 
>  *  The sACK Permitted and sACK Range options are transmitted in accordance with the RFC.
>  *  If the remote does not send sACK permitted, sACK range options are never transmitted.
>  *  When a sACK range is transmitted, it contains the range of data corresponding to the segment that triggered the ACK unless the segment caused the ACK field to update (i.e. filled in an assembler hole that permitted progress).
>  *  Once a sACK range is announced, that data is never thrown away. (This is not a "must" requirement, but if the TCP does this, then additional "must" requirements are added.)
> 
> However, since this is a "phase 1" PR, compliance is all this implementation has to offer. In practical terms, it only improves throughput in one case, and even then, only for data flowing in one direction.
> 
> This is because of the shortcuts taken to save significant complexity:
> 
>  *  All sACK information received from the remote side is ignored
>  *  Only one sACK range will ever be transmitted, even though the data structures support up to 3
>  *  If the segment causes an update in the ACK field, smoltcp will choose a "helpful hint" range if there are still holes in the assembler. The algorithm it uses to select this is contrary to a "should" in the RFC.
> 
> Each one of these is avoiding a significant effort. The first is a whole new data structure, the second two are because the "should" algorithm is based on keeping a history of transmitted sACK ranges on a queue, and pulling them off as holes are filled.


### Sender Side Phase 2

This finishes the sender side implementation to be "should" compliant with the RFC.

In particular, RFC case 3 should be turned into a test. (In addition to several other interesting edge case tests, of course.)

<details>
  Case 3:  The 2nd, 4th, 6th, and 8th (last) segments are
  dropped.

  The data receiver ACKs the first packet normally.  The
  third, fifth, and seventh packets trigger SACK options as
  follows:

    Triggering  ACK    First Block   2nd Block     3rd Block
    Segment            Left   Right  Left   Right  Left   Right
                       Edge   Edge   Edge   Edge   Edge   Edge

    5000       5500
    5500       (lost)
    6000       5500    6000   6500
    6500       (lost)
    7000       5500    7000   7500   6000   6500
    7500       (lost)
    8000       5500    8000   8500   7000   7500   6000   6500
    8500       (lost)
</details>

The algorithm described in the RFC requires smoltcp to treat the header's contents as a list, which is append only, remove in-place. It is not difficult, but it requires quite a bit of new code, including a new iterator on the `Assembler`.

<details>


    pub struct HolesIter<'a> {
        offset: usize,
        last_data: Option<(usize, usize)>,
        iter: DataIter<'a>
    }
    
    impl<'a> Iterator for HolesIter<'a> {
        type Item = (usize, usize);
    
        fn next(&mut self) -> Option<(usize, usize)> {
            let mut product = Some((0, 0));
            while product.filter(|(l, r)| l == r).is_some() {
                product = match (self.last_data, self.iter.next()) {
                    (Some((_, l)), Some((r, x))) => {
                        self.last_data = Some((r, x));
                        Some((l.saturating_sub(self.offset), r.saturating_sub(self.offset)))
                    },
                    (_, None) => {
                        self.last_data = None;
                        None
                    },
                    (_, _) => panic!("logic error: data iterator not fused")
                }
            }
            product.map(|(l, r)| (l + self.offset, r + self.offset))
        }
    }
</details>


Once this phase is completed, there should be significant performance gains talking to non-smoltcp TCP/IP stacks.

### Receiver Side Phase 1

This is to implement basic header handling when smoltcp is the receiver. Currently, smoltcp completely ignores any sender's header if it sends one, which is legal but not very nice.

This straightforward implementation is designed to be simple:
* Create a new `Assembler` for the remote side, based on the contents of headers our side has received.
* Send packets where the `Assembler` has a hole when it is to our advantage.
* Once we send a packet from the `Assembler`, fill the hole. (This is to handle falsely advertised windows, and avoids messing up other timeout algorithms.)

This is only an incremental improvement in practice over completely ignoring the window, but it would get the groundwork into the project. I expect there will be a lot of messy integration work, in addition to testing required.

### Receiver Side Phase 2

This final phase is the big one: generate the correct packet sequences in response to the RFC case above.

There are also some questions about timeouts will have to be explored. The RFC states that all information in the header is _advisory_, and so "over-eager senders" will eventually need to be caught, and revert back to the default "last acknowledged" part of the header if they are unsatisfied with any pattern of data generated by their assembler.

So, it's a lot of work, including a lot of testing. I hope you are still interested in the challenge!

Is anyone currently working on this or planning to pick it up?

Not as far as I know.

:+1:, getting a start on it: https://github.com/smoltcp-rs/smoltcp/issues/256

@loripatrick I presume you meant to link to #450 

Oops, yes that's the link

Just from scanning issues and PRs, it sounds like #450 turned into "a catch all for various improvements" including sACK and congestion control and was later closed in favor of #907 for congestion control but I don't see any further progress toward sACK.

#995 also has to do with sACK, but is that about the device smoltcp is communicating with implementing it? I'm not far enough into this to know.

What is the status of sACK?

> What is the status of sACK?

Current state is basically the same as it was when #266 was merged:
- On the sending side, SACK ranges are sent only in response to duplicate data (when `process()` calls `ack_reply()`) and only a single SACK range is sent. This range doesn't operate as the RFC suggests and is simply a "here's the earliest missing segment" hint.

- On the receiving side, all SACK ranges are discarded.

I'm currently working on improving the congestion control implementation (#1153 to #1157) and SACK behaviour. SACK requires a lot more work than congestion control so progress has been slow. Now congestion control is somewhere I'm mostly happy with, I can focus on SACK.

It's our biggest blocker for getting smoltcp running in prod, so the plan is have PRs up implementing SACK (RFC 2018), DSACK (RFC 2883) and a proper sender side algorithm (RFC 6675) sometime this week and next. Getting them merged into main is a different story though. They will rely on some of the congestion controller work in my congestion PRs. 

Currently, my incomplete, horribly hacked together and no-std incompatible approach, provides pretty great performance improvements communicating with Linux servers on highly congested networks (thousands of concurrent flows).


